.page-home {
  .text-intro {
      font-size: 1.2rem;
      font-weight: light;
      line-height: 1.5;
      color: $steel;
  }
}

.iframe-popup {
  height: 500px;
  width: 100%;
  border: none;
  overflow-y: gone;

  @include media-breakpoint-up(md) {
    height: 600px;
  }
}